<app-navigation-bar></app-navigation-bar> 
<section class='contact-me-page-info-display'>
  <h1>Contuct me</h1>
  <h3>Please don't hestitate to contact me if I could help you with something</h3>
</section>
<section class='container'>
  <div class="jumbotron ">
    <div class="header-details-contact">
      <div class="header-detail-contact">
        <label><i class="fab fa-linkedin"></i> </label>
        <span><a href="http://www.linkedin.com/in/ioannis-drimousis/" target="_blank">linkedin.com/in/ioannis-drimousis/</a></span>
      </div>
    </div>
  </div>
</section>