<form id="albumForm" [formGroup]="albumForm">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="updateMode">Update current album</h4>
    <h4 class="modal-title" *ngIf="!updateMode">Create a new album</h4>
    <button type="button" class="close" aria-label="Close" (click)="checkForChanges()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" *ngIf="updateMode">
      <label for="id">Album id</label>
      <input  type="text" 
              class="form-control" 
              id="id" 
              formControlName="id"
              required
      >
    </div>
    <div class="form-group" *ngIf="updateMode">
      <label for="userId">Album user id</label>
      <input  type="text" 
              class="form-control" 
              id="userId" 
              formControlName="userId"
              required
      >
    </div>
    <div class="form-group">
      <label for="title">Album title</label>
      <input  type="text" 
              class="form-control" 
              id="title" 
              formControlName="title" 
              placeholder="Enter title" 
              required
      >
      <div class="form-error-msg" *ngIf="submitted && form.title.errors">
        <span *ngIf="form.title.errors.required"><i class="fas fa-exclamation-circle"></i> Required field</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="isLoading" class="loader"></div>
    <button type="submit" class="btn btn-primary" [disabled]="isLoading" (click)='saveChanges()' *ngIf="updateMode">Save</button>
    <button type="submit" class="btn btn-primary" [disabled]="isLoading" (click)='createAlbum()' *ngIf="!updateMode">Create</button>
    <button type="button" class="btn btn-secondary" (click)="checkForChanges()">Close</button>
  </div>
  <div class="modal-info-dialog" *ngIf="askConfirmation">
    <div class="dialog-info-container">
      <h4>Changes have not been saved! Do you still wish to exit?</h4>
      <button type="button" class="btn btn-warning" (click)="close()">Yes, exit</button>
      <button type="button" class="btn btn-success" (click)="closeConfirmationDialog()">No, stay</button>
    </div>
  </div>
  <div class="modal-info-dialog" *ngIf="actionCompleted">
    <div class="dialog-info-container">
      <div *ngIf="!updateMode">
        <h4 class="text-success" *ngIf="actionSuccessfullyCompleted"><i class="fas fa-check"></i> Album succesfully ceated!</h4>
        <h4 class="text-danger" *ngIf="!actionSuccessfullyCompleted"><i class="fas fa-times"></i> Album creation failed.</h4>
      </div>
      <div *ngIf="updateMode">
        <h4 class="text-success" *ngIf="actionSuccessfullyCompleted"><i class="fas fa-check"></i> Album succesfully updated!</h4>
        <h4 class="text-danger" *ngIf="!actionSuccessfullyCompleted"><i class="fas fa-times"></i> Album update failed.</h4>
      </div>
    </div>
  </div>
</form>