<section>
  <h3>Fill in your personal data to login</h3>
</section>
<section class="login-form container">
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="form-group">
      <label for="loginUsername">Username</label>
      <input type="text" class="form-control" id="loginUsername" formControlName="username" placeholder="Enter username"
        required>
      <div class="form-error-msg" *ngIf="submitted && form.username.errors">
        <span *ngIf="form.username.errors.required"><i class="fas fa-exclamation-circle"></i> Required field</span>
      </div>
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input type="password" class="form-control" id="loginPassword" formControlName="password"
        placeholder="Enter password" required>
      <div class="form-error-msg" *ngIf="submitted && form.password.errors">
        <span *ngIf="form.password.errors.required"><i class="fas fa-exclamation-circle"></i> Required field</span>
      </div>
    </div>
    <div class="form-error-msg" *ngIf="wrongCredentials">
      <span><i class="fas fa-exclamation-circle"></i> Wrong username or password</span>
    </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login <div *ngIf="isLoading"
        class="loader"></div></button>
  </form>
</section>